.container {
  padding: 0;
}

.main_left {
  margin-left: 1rem;
  margin-right: 1rem;
  flex: 1;
}

.preset_selector_bar {
  margin-bottom: 1rem;
}

.arguments_bar {
  margin-bottom: 0.5rem;
}

.main_right {
  margin-left: 1rem;
  flex: 1;
}

@media (max-width: 62em) {
  .main_playground {
    height: fit-content;
  }

  .playground_flexbox {
    max-height: fit-content;
  }

  .main_left {
    margin-right: 0;
    width: 100%;
  }

  .main_right {
    margin-left: 0;
    width: 100%;
  }
}

.log_content {
  white-space: pre-wrap;
  color: gray;
}

.log_content:last-child {
  color: white;
}

.log_arrow {
  padding-top: 10px;
}

.log_arrow_g {
  transform: translate(100%, 100%);
}
